body{
	background-image: url("https://image.freepik.com/free-vector/grey-linen-texture-background_1053-253.jpg");
	background-size: cover;
}

a.navbar-brand{
	border-right-style: solid;
	border-right-color: black;
	border-right-width: 1px; 
}

hr.basic{
	border: none;
	height: 3px;
	color: white;
	background-color: white;
}


hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}